<div class='container'>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">BBC News Scrapper</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li id="home"><a href="/">Home</a></li>
                <li id="saved"><a href="/saved/">Saved</a></li>
                <li><a class="waves-effect waves-light btn-small clear-scrap">Clear</a></li>
            </ul>
        </div>
    </nav>

      <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            </div>
          </div>
        </footer>
</div>