<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black">
            <a href="/" class="brand-logo center">BBC News Scrapper</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li id="home"><a href="/">Home</a></li>
                <li id="saved"><a href="/saved/">Saved</a></li>
                <li><a class="waves-effect waves-light btn-small clear-scrap">Clear</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="index" class="col s12">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Article</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#" class="link-article">Link to Article</a>
                    <a class="waves-effect waves-light btn save-article">Save Article</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Text
        </div>
    </div>
</footer>