body {
    background-color: lightslategray;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      

.nav-wrapper, .page-footer {
    margin-top: 5px;
    background: darkgrey;
}

.clear-scrap {
    background: red;
}

.clear-scrap:hover {
    background: darkblue;
}

.clear-scrap:visited {
    background: red;
}
